S3method(plot,PresenceAbsence)
S3method(print,PresenceAbsence)
S3method(print,summary.PresenceAbsence)
S3method(summary,PresenceAbsence)
export(lets.addpoly)
export(lets.addvar)
export(lets.correl)
export(lets.field)
export(lets.iucn)
export(lets.iucn.ha)
export(lets.iucn.his)
export(lets.iucncont)
export(lets.maplizer)
export(lets.presab)
export(lets.presab.birds)
export(lets.shFilter)
export(lets.transf)
import(XML)
import(ape)
import(maps)
import(maptools)
import(raster)
