export(lets.addpoly)
export(lets.addvar)
export(lets.iucn)
export(lets.iucn.ha)
export(lets.iucn.his)
export(lets.presab)
export(lets.presab.birds)
export(lets.shFilter)
export(plot.PresenceAbsence)
import(XML)
import(maps)
import(maptools)
import(raster)
